<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel = "tests" thread-count = "2">
    <test name="chrome">
        <parameter name="url" value="https://demo.banked.com/new"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.example.TestSuiteBanked" />
        </classes>
    </test>

<!--    <test name="firefox">-->
<!--    <parameter name="url" value="https://demo.banked.com/new"/>-->
<!--    <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="org.example.TestSuiteBanked" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>